body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fce3f2;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
h1 {
    color: #8a293e;
    width: 100%;
}
.gifts {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.gift img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}


.gift:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.content {
    display: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(219, 149, 190);
}
.gift-content img {
    max-width: 80px;
}